<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 
	<bean id="salaryAction" class="com.baidu.salary.action.SalaryAction" scope="prototype">
		<property name="salaryService" ref="salaryService"></property>   
		<property name="selectDataService" ref="selectDataService"></property>   
	</bean>
	
	<bean id="salaryService" class="com.baidu.salary.service.SalaryServiceImpl">
		<property name="sessionFactory" ref="sessionFactory"></property> 
	</bean>
	
</beans>
