<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.stumgr.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryStudent</servlet-name>
    <servlet-class>com.stumgr.servlet.QueryStudent</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditStudent</servlet-name>
    <servlet-class>com.stumgr.servlet.EditStudent</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SaveStudent</servlet-name>
    <servlet-class>com.stumgr.servlet.SaveStudent</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteStudent</servlet-name>
    <servlet-class>com.stumgr.servlet.DeleteStudent</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryStudent</servlet-name>
    <url-pattern>/queryStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditStudent</servlet-name>
    <url-pattern>/editStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveStudent</servlet-name>
    <url-pattern>/bcsx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteStudent</servlet-name>
    <url-pattern>/delStudent</url-pattern>
  </servlet-mapping>
  
  <!-- 默认先走index.jsp页面 -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
