<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiangyu.mapper.AddressMapper" >
  <resultMap id="SimpleAddress" type="com.jiangyu.pojo.Address" >
     <id column="aid" property="id" />
   	 <result column="aname" property="name" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name
  </sql>
  <select id="findAllAddress" resultMap="SimpleAddress" >
    select 
    <include refid="Base_Column_List" />
    from q_address
  </select>
  
</mapper>