<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

     	<context:annotation-config /> 
    	
<!--     <aop:aspectj-autoproxy proxy-target-class="true"/> -->
    
    <!-- 设置使用注解的类所在的jar包   启用自动扫描
    <context:component-scan base-package="*com.xueying.*.actio"></context:component-scan>
   	<context:component-scan base-package="*com.xueying.*.service"></context:component-scan>
   	<context:component-scan base-package="*com.xueying.*.dao"></context:component-scan>
   	-->
    
	<!-- 这里只能指定扫描action层  否则会把service和dao也扫了 而这里无法给service层加事务 
		因此，扫描包要制定到action 要么就不要在web.xml中配置springMVC的<Servlet>
		加载时启动。
	 -->
	<context:component-scan base-package="com.jiangyu.action"/>
	
	<!-- 使用JSON传值必用 -->
 	<mvc:annotation-driven/> 
	
<!-- 上传和下载相关的<bean> -->
<!-- 	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"> -->
<!-- 	    <property name="maxUploadSize">  -->
<!-- 			<value>104857600</value>  -->
<!-- 		</property>  -->
<!-- 		<property name="maxInMemorySize">  -->
<!-- 			<value>4096</value>  -->
<!-- 		</property> -->
<!--     </bean>  -->

	<!-- 最好还要加入DefaultAnnotationHandlerMapping，不然可能会被 XML或其它的映射覆盖！ -->  
	<!-- 	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />  -->
    
    <!-- 完成请求和注解POJO的映射 -->
	<!--    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" /> -->
   

	<!-- 试图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 前缀 -->
		<property name="prefix" value="/WEB-INF/view/"></property>
		<!-- 后缀 -->
		<property name="suffix" value=".jsp"></property>
	</bean>
	
    <!-- 试图解析器 另一种写法：对转向页面的路径解析。prefix：前缀， suffix：后缀 -->
	<!--     <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" -->
	<!--      p:prefix="/jsp/user/" p:suffix=".jsp" /> -->
	
</beans>
